# Python
__pycache__/
*.pyc

# Virtual environments
.venv

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.vscode/

# Windows Zone.Identifier metadata files
*:Zone.Identifier

# data
data/**/documents/
*.zip
data/**/token.json
data/**/credentials.json
data/**/metadata.csv
